@{
    ViewBag.Title = "Cadastro de Empresas";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    
    List<ProjectMaster.Core.ToolBarButton> Buttons = new List<ProjectMaster.Core.ToolBarButton>();

    Buttons.Add(new ProjectMaster.Core.ToolBarButton(ProjectMaster.Core.ToolBarButtonType.CadastrarNovo, "Cadastrar nova empresa.", "Cadastrar nova empresa.", "CadastrarEmpresa", "", Url.Content("~/Empresa/EmpresaProcurar"), true, true));

    var queryEmpresas = (IQueryable<ProjectMaster.Data.pm_empresa>)ViewData["queryMenus"];
    var classRow = "webgrid-rows";
}


<div id="main" class="main-scroll">
    <fieldset title="Procurar Empresa">
        <legend>Procurar Empresa</legend>

        @{ 
            dynamic obj = new
            {
                id_select = "tipo_pessoa",
                readOnly = string.Empty,
                domain = "tipo_pessoa",
                value = ""
            };            
         }

            @Html.Partial("_vuDropList", (object)obj)
    

    </fieldset>


</div>